.App {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: #28A745;
}


.App-header {
  background-color: whitesmoke;
  border: 3px double #28A745;
  min-height: 5vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: #28A745;
  margin: 1%;
  padding: 1%;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1%;
}
.n-link{
  text-decoration: none;
  font-size: calc(10px + 2vmin);
  color:#28A745;
}
.n-link:hover {
color:#28A745;
}

form{
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 1% auto;
  border: 5px double #28A745;
  padding: 1%;
  color:#28A745;
  background: whitesmoke;
}

h1, h2, h3, h4,h5,h6 li{
  color:#28A745;
  font-family: 'Acme', sans-serif;
}

h1, h2, h3, h4,h5,h6{
  text-decoration: underline;
}

 .active{
   text-decoration: underline overline;
   background: whitesmoke;
   font-size: calc(10px + 2vmin);
   color:#28A745;
 }
.form-center{
  display: flex;
  justify-content:space-evenly
}
ul{
  list-style-image:url('./images/weed_bullet.png')
}
 @media only screen and (max-width: 500px){
   .form-center{
     display: flex;
     flex-direction: column;
     width: 100%;
   }
   .form-center section{
     width: 100%;
     margin: 0 auto;
   }
 }