.App {
  text-align: center;
}


.App-header {
  background-color: silver;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


form{
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 1% auto;
  border: 3px double #555
}
 input{
   margin: 1%;
 }

 .roleLink{
   text-decoration: none;
   border: 1px double #555;
 }

 .active{
   text-decoration: underline overline;
 }